* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Regular";
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  transition: 0.4s ease-in-out;
  outline: none;
}

:root {
  --green: #42c713;
  --LightBlue: #5959d0;
  --DarkBlue: #000066;
  --DarkGray: #0e0e10;
  -webkit-text-size-adjust: 100%;
}

.LightBlue {
  color: var(--LightBlue);
}
.DarkBlue {
  color: var(--DarkBlue);
}

.Green {
  color: var(--green);
}

span {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4ac9;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #151597;
  cursor: pointer;
}

.zoom-in-up,
.zoom-in-right,
.fade-right,
.fade-left,
.slide-right,
.slide-left,
.zoom-in-right {
  overflow-x: hidden;
}
