*{
  box-sizing: border-box; 
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Regular';
  list-style: none;
  text-decoration: none;
  font-size: 100%;
}

:root{
  --green: #42C713;
  --LightViolet: #7D72B2;
  --DarkViolet: #30285A;
  --DarkGray: #0E0E10;
  -webkit-text-size-adjust: 100%;
}

.LightViolet{
  color: var(--LightViolet);
}
.DarkViolet{
  color: var(--DarkViolet);
}

.Green{
  color: var(--green);
}